.uno{
	height: 250px;
	width: 225px;

border:2px solid #FD8A09;
margin:10px 20px;
padding: 5px;
box-sizing:border-box;

}
.segundo{
	height: 250px;
	width: 225px;

border:2px solid #FD8A09;
margin:10px 20px;
padding: 5px;
box-sizing:border-box;


}
.tercero{
	height: 250px;
	width: 225px;

border:2px solid #FD8A09;
margin:10px 20px;
padding: 5px;
box-sizing:border-box;

	
}